<section class="container">
  <div class="post-info">
    <div class="post-title-box">
      <p class="post-title">Post : <%= @post.title %> by <%= @post.author.name %></p>
      <p class="comment-text">Comments: <%= @post.comments_counter || 0 %> </p>
      <p class="comment-text"> Likes: <%= @post.likes_counter || 0 %></p>
    </div>
    <p><%= @post.text %></p>
  </div>
  <%# add linked buttons %>
  <div class="d-grid gap-2 d-md-flex justify-content-md-start m-4">
    <%= button_to "Back", user_posts_path(@user), method: :get, class:"btn btn-success", role: "button" %>
    <div >
      <%= form_with model: @like,  url: "/users/#{params['user_id']}/posts/#{params['id']}/likes", method: :post , local: true do |form|%>
        <%= form.submit "Like", class:"btn btn-success", role: "button" %>
      <% end %>
    </div>
  </div>
  <%# add comments %>
  <div class="comment-info">
    <h2>Comments</h2>
    <% @post.recent_comments.each do |comment| %>
      <%= render comment %>
      <% if cannot? :destroy, comment %>
        <%= button_to "Delete", user_post_comment_path(@user, comment), method: :delete, class: "btn btn-danger" %>
      <% end %>
    <% end %>
  </div>
  <div class="comment-info">
    <h2>Add a comment: </h2>
    <%= render partial: "comments/form", locals: { comment:  Comment.new, user: @post.author, post:  @post} %>
  </div>
</section>
